<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="TransformApplied" value="transform2 applied" xdt:Transform="InsertBefore(/configuration/appSettings/add[@key=&quot;Key1&quot;])" />
    <add key="Key1" value="Value1 updated by transform2" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Key2" value="Value2" xdt:Transform="Remove" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>